/* BODY */
body{
    margin: 0px;
    font-family: 'Inconsolata', monospace;
}

/* MAIN TITLE */
h1{
    font-size: 2.5em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 500px;
    text-align: center;
    margin-top: 0px;
}

button{
    border: black;
}

/* PUZZLE CONTAINER */
#puzzleContainer{
    width: 450px;
    margin: 20px;
}

/* BUTTON CONTAINER */
#buttonContainer{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

#buttonContainer button{
    width: 150px;
    height: 50px;
    margin: 2px;
    transition: all 1s;
    border: black;
}

button:hover{
    transform: scale(1.05);
}

button:disabled{
    background-color: whitesmoke;
    color: lightgrey;
    transform: none;
}

/* BACKGROUND COLORS */
.dark{
    background-color: slategrey;
    color: white;
}
.blue{
    background-color: cyan;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}
.white{
    background-color: lightgrey;
}

/* WINNER */
.winner{
    background-color: limegreen;
}